#sideNav{
	position: fixed;
	left:0;
	top:0;
	z-index: 20;
	height: 100%;
	width:100%;

	display:none;
	transition: 0.5s;
	background-color: rgba(0,0,0,0.0);
}

#sideNav > #nav{
	background-color: white;
	width:0;
	height: 100%;
	overflow-y:auto;
	transition: 0.5s;
}

#sideNav > #nav > #sideNavHeader{
	display: flex;
	justify-content: space-between;
	background-color: #a9bcd0;
	border-bottom: 1px solid #1e2749;
}

#sideNav > #nav > #sideNavHeader > div{
	height: 50px;
	width:50px;
}

#sideNav > #nav > #sideNavHeader > div > img{
	padding-left: 10px;
	padding-top:5px;
	padding-bottom: 5px;
}

#sideNav > #nav > #sideNavHeader > div:nth-child(2){
	cursor:pointer;
}

#sideNav > #nav > div:not(#sideNavHeader){
	font-size: 1.75em;
	padding-left: 10px;
	padding-top:5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #1e2749;
	background-color: white;
	cursor:pointer;
	white-space: nowrap;
}

#sideNav > #nav > #sideNavStatsDisplay{
	text-align: right;
	padding-right: 10px;
}

#sideNav > #nav > div:not(#sideNavHeader):not(.sideNavDropDown):hover{
	background-color: #a9bcd0;
}

#sideNav .sideNavDropDown > div{
	/*border-top: 1px solid #1e2749;*/
	padding-left: 15px;
	margin-left: 20px;
	transition: 0.5s;
	height:0px;
	overflow: hidden;
}

#sideNav .sideNavDropDown > #transactionsFileInput{
	display: none;
}

#sideNav .sideNavDropDown .sideNavDropDownChild:hover{
	background-color: #a9bcd0;
}
