#transactionsDisplay{
	display: none;
	width: 100%;
	height: 95vh;
	max-height: calc(100vh - 50px); /*50px because header*/
	font-size: 1.5em;
	overflow-y: auto;
}

@media screen and (min-width: 800px){
	#transactionsDisplay{
		width:800px;
		margin-left:auto;
		margin-right:auto;
	}
	#transactionsDisplay .transaction{
		border-left: 1px solid #1e2749;
		border-right: 1px solid #1e2749;
	}
}

#transactionsDisplay .date{
	background-color: #1e2749;
	color: white;
	padding: 5px;
	padding-left: 10px;
}

#transactionsDisplay .transaction{
	border-bottom: 1px solid #1e2749;
	padding:10px;
}

#transactionsDisplay .positiveTransaction{
	background-color: #ccffcc;
}

#transactionsDisplay .negativeTransaction{
	background-color: #ffcccc;
}

#transactionsDisplay .transaction .transactionLineOne{
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

#transactionsDisplay .transaction .transactionLineOne > div:nth-child(2){ /*Three dots*/
	min-width: 50px;
	text-align: right;
}

#transactionsDisplay .transaction .transactionLineTwo{
	display: flex;
	justify-content: space-between;
}

#transactionsDisplay .transaction .transactionCategories{
	display: flex;
	flex-wrap: wrap;
}

#transactionsDisplay .transaction .transactionCategories > div{
	background-color: #a9bcd0;
	border: 1px solid #7d8b99;
	margin-right: 5px;
	padding:5px;
	font-size: 0.67em;
}

#transactionsDisplay .transaction .transactionAmount{
}
