#transactionsDisplay{
	display: none;
	width: 100%;
	font-size: 1.5em;
}

@media screen and (min-width: 800px){
	#transactionsDisplay{
		width:800px;
		margin:auto;
	}
}

#transactionsDisplay .date{
	background-color: #1e2749;
	color: white;
}

#transactionsDisplay .transaction:nth-child(2){
	background-color: #ccffcc;
}

#transactionsDisplay .transaction:nth-child(3){
	background-color: #ffcccc;
}

#transactionsDisplay .transaction .transactionLineOne{
	display: flex;
	justify-content: space-between;
}

#transactionsDisplay .transaction .transactionLineTwo{
	display: flex;
	justify-content: space-between;
}

#transactionsDisplay .transaction .transactionCategories{
	display: flex;
}

#transactionsDisplay .transaction .transactionAmount{
	font-style:italic;
}
